*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.animation-bg{
    background: linear-gradient(-45deg, #ee7752, orange ,#e73c7e , #23a6d5 , #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

.inner-circle{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    color: white;
    font-size: 23px;
}

.minute{
    font-size: 43px;
}

.sec{
    font-size: 34px;
}

.msec{
    font-size: 23px;
}

.button-wrapper{
    width: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: black;

}

.laps::-webkit-scrollbar{
    display: none;
}
.laps{
    list-style: none;
    color: white;
    height: 250px;
    width: 250px;
    overflow: auto;
    position: relative;
    margin-top: 30px;
    
}

.lap-items{
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
    border-radius: 50px;
    margin-bottom: 15px;
}

.number{
    color: white;
}

.time-stamp{
 display: inline-block;
 margin-left: 25px;
}

.lap-clear-button{
   display: block;
   position:fixed;
   z-index: 1000;
   bottom: 35px;
   left: 50%;
   transform: translate(-50%);
   width: 130px;
   padding: 10px 0;
   border-radius: 50px;
   background-color: rgba(255, 255, 255, 0.9);
   border: 1px solid white;
   cursor: pointer;
}

.hidden{
    visibility: hidden;
}